
<!-- BEGIN forumrow -->
	<!-- IF (forumrow.S_IS_CAT and not forumrow.S_FIRST_ROW) or forumrow.S_NO_CAT  -->
			</ul>

			</div>
		</div>
	<!-- ENDIF -->

	<!-- EVENT forumlist_body_category_header_before -->
	<!-- IF forumrow.S_IS_CAT or forumrow.S_FIRST_ROW  or forumrow.S_NO_CAT  -->
	<!-- IF forumrow.S_IS_CAT -->
 <h2 class="forum-category">
	<a href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a></h2>
	<!-- ENDIF -->
		<div class="forabg">
			<div class="inner">
			<ul class="topiclist-new forums">
	<!-- ENDIF -->
	<!-- EVENT forumlist_body_category_header_after -->

	<!-- IF not forumrow.S_IS_CAT -->
		<!-- EVENT forumlist_body_forum_row_before -->
		<li class="row">
			<!-- EVENT forumlist_body_forum_row_prepend -->
			<div class="row-item">
					<a href="{forumrow.U_VIEWFORUM}" class="forumtitle">
				<div title="{forumrow.FORUM_FOLDER_IMG_ALT}" class="row_1">
						<!-- IF forumrow.FORUM_IMAGE -->
							<!-- EVENT forumlist_body_forum_image_before -->
							<span class="forum-image"><!-- EVENT forumlist_body_forum_image_prepend -->{forumrow.FORUM_IMAGE}<!-- EVENT forumlist_body_forum_image_append --></span>
							<!-- EVENT forumlist_body_forum_image_after -->
						<!-- ENDIF -->
						<div>
							<span  class="title-title">{forumrow.FORUM_NAME}</span>
							<span class="title-description">{forumrow.FORUM_DESC}</span>
						</div>
				</div>
				<!-- IF forumrow.CLICKS -->
					<div class="redirect"><span>{L_REDIRECTS}{L_COLON} {forumrow.CLICKS}</span></div>
				<!-- ELSEIF not forumrow.S_IS_LINK -->
				 <div class="row_2">
					<div class="topics">{forumrow.TOPICS} <dfn>{L_TOPICS}</dfn></div>
					<div class="posts">{forumrow.POSTS} <dfn>{L_POSTS}</dfn></div>
					<div class="lastpost">
							<!-- IF forumrow.LAST_POST_TIME -->
						<time datetime="{forumrow.LAST_POST_TIME_RFC3339}">{forumrow.LAST_POST_TIME|slice(0, 16)}</time>
						<dfn title="{L_LAST_POST}">
							{% if forumrow.LAST_POST_SUBJECT_TRUNCATED|length > 16 %}
								{forumrow.LAST_POST_SUBJECT_TRUNCATED|slice(0, 16)}...
							{% else %}
								{forumrow.LAST_POST_SUBJECT_TRUNCATED}
							{% endif %}
						</dfn>
						<!-- ELSE -->
						{% if forumrow.U_UNAPPROVED_TOPICS %}
							{{ lang('TOPIC_UNAPPROVED_FORUM', forumrow.TOPICS) }}
						{% else %}
							{{ lang('NO_POSTS') }}
						{% endif %}
						<!-- ENDIF -->
					</div>
				<!-- ENDIF -->
				</div>
				</a>
			</div>
			<!-- EVENT forumlist_body_forum_row_append -->
		</li>
		<!-- EVENT forumlist_body_forum_row_after -->
	<!-- ENDIF -->

	<!-- IF forumrow.S_LAST_ROW -->
			</ul>

			</div>
		</div>
	<!-- EVENT forumlist_body_last_row_after -->
	<!-- ENDIF -->

<!-- BEGINELSE -->
	<div class="panel">
		<div class="inner">
		<strong>{L_NO_FORUMS}</strong>
		</div>
	</div>
<!-- END forumrow -->
